<div class="navigation">
    <input type="checkbox" class="navigation__checkbox" id="navi-toggle" [(ngModel)]='naviToggle'>
    <label for="navi-toggle" class="navigation__button" (click)="naviToggleBtnClick(naviToggle)">
        <span class="navigation__icon" >&nbsp;</span>
    </label>
    <div class="navigation__background">&nbsp;</div>
    <nav class="navigation__nav">
        <ul class="navigation__list">
            <li class="navigation__item"><a (click)="closeNaviToggle()" href="naturous#section-about" class="navigation__link"><span>01</span> About Naturous</a></li>
            <li class="navigation__item"><a (click)="closeNaviToggle()" href="naturous#section-features" class="navigation__link"><span>02</span> Your Benefit</a></li>
            <li class="navigation__item"><a (click)="closeNaviToggle()" href="naturous#section-tours" class="navigation__link"><span>03</span> Popular tours</a></li>
            <li class="navigation__item"><a (click)="closeNaviToggle()" href="naturous#section-stories" class="navigation__link"><span>04</span> Stories</a></li>
            <li class="navigation__item"><a (click)="closeNaviToggle()" href="naturous#section-book" class="navigation__link"><span>05</span> Book Now</a></li>
        </ul>
    </nav>
</div>
<header class="header">
    <div class="header__logo-box">
        <img src="assets/img/logo-white.png" alt="Logo" class="header__logo">
    </div>

    <div class="header__text-box">
        <h1 class="heading-primary">
            <span class="heading-primary--main">Outdoors</span>
            <span class="heading-primary--sub">is where life happens</span>
        </h1>

        <a href="naturous#section-tours" class="btn btn--white btn--animated">Discover our tours</a>
    </div>
</header>

<main>
    <section class="section-about" id="section-about" >
        <div class="u-center-text u-margin-bottom-big">
            <h2 class="heading-secondary">
                Exiting tours for adventurous people
            </h2>
        </div>

        <div class="row" (deferLoad)="load1=true">
                <div class="col-1-of-2">
                    <h3 class="heading-tertiary u-margin-bottom-small">You're going to fall in love with nature</h3>
                    <p class="paragraph">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil sequi adipisci quis ab minima, architecto voluptatibus ipsa? Eaque quo exercitationem minima quibusdam harum. Recusandae adipisci explicabo, ex accusamus dolor nisi.
                    </p>

                    <h3 class="heading-tertiary u-margin-bottom-small">Live adventures like you never have before</h3>
                    <p class="paragraph">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo accusantium nesciunt hic. Debitis laudantium eius eligendi consectetur totam blanditiis doloribus amet. 
                    </p>

                    <a href="#" class="btn-text">Learn more &rarr;</a>
                </div>
                <div class="col-1-of-2">
                    <div class="composition">

                        <img srcset="assets/img/nat-1.webp 300w, assets/img/nat-1-large.webp 1000w"
                             sizes="(max-width: 56.25em) 20vw, (max-width: 37.5em) 30vw, 300px"
                             alt="Photo 1"
                             class="composition__photo composition__photo--p1"
                             src="assets/img/nat-1-large.webp">

                        <img srcset="assets/img/nat-2.webp 300w, assets/img/nat-2-large.webp 1000w"
                             sizes="(max-width: 56.25em) 20vw, (max-width: 37.5em) 30vw, 300px"
                             alt="Photo 2"
                             class="composition__photo composition__photo--p2"
                             src="assets/img/nat-2-large.webp">

                        <img srcset="assets/img/nat-3.webp 300w, assets/img/nat-3-large.webp 1000w"
                             sizes="(max-width: 56.25em) 20vw, (max-width: 37.5em) 30vw, 300px"
                             alt="Photo 3"
                             class="composition__photo composition__photo--p3"
                             src="assets/img/nat-3-large.webp">

                        <!-- <img src="assets/img/nat-1-large.webp" alt="Photo 1" class="composition__photo composition__photo--p1">
                        <img src="assets/img/nat-2-large.webp" alt="Photo 2" class="composition__photo composition__photo--p2">
                        <img src="assets/img/nat-3-large.webp" alt="Photo 3" class="composition__photo composition__photo--p3"> -->
                    </div>
                </div>
            </div>
    </section>

    <section class="section-features" id="section-features" *ngIf="load1">

        <div class="row" (deferLoad)="load2=true">
            <div class="col-1-of-4">
                <div class="feature-box">
                    <i class="feature-box__icon icon-basic-world"></i>
                    <h3 class="heading-tertiary u-margin-bottom-small">Explore the World</h3>
                    <p class="feature-box__text">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deserunt cupiditate,
                    </p>
                </div>
            </div>
            <div class="col-1-of-4">
                <div class="feature-box">
                    <i class="feature-box__icon icon-basic-compass"></i>
                    <h3 class="heading-tertiary u-margin-bottom-small">Meet Nature</h3>
                    <p class="feature-box__text">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deserunt cupiditate,
                    </p>
                </div>
            </div>
            <div class="col-1-of-4">
                <div class="feature-box">
                    <i class="feature-box__icon icon-basic-map"></i>
                    <h3 class="heading-tertiary u-margin-bottom-small">Find your way</h3>
                    <p class="feature-box__text">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deserunt cupiditate,
                    </p>
                </div>
            </div>
            <div class="col-1-of-4">
                <div class="feature-box">
                    <i class="feature-box__icon icon-basic-heart"></i>
                    <h3 class="heading-tertiary u-margin-bottom-small">Live a healtier life</h3>
                    <p class="feature-box__text">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deserunt cupiditate,
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="section-tours" id="section-tours" *ngIf="load2">
        <div class="u-center-text u-margin-bottom-big">
            <h2 class="heading-secondary">
                Most Popular Tours
            </h2>
        </div>

        <div class="row" (deferLoad)="load3=true">
            <div class="col-1-of-3">
                <div class="card">
                    <div class="card__side card__side--front">
                        <div class="card__picture card__picture--1">
                            &nbsp;
                        </div>
                        <h4 class="card__heading">
                            <span class="card__heading-span card__heading-span--1">The Sea Explorer</span> 
                        </h4>
                        <div class="card__details">
                            <ul>
                                <li>3 day tour</li>
                                <li>Up to 30 people</li>
                                <li>2 tour guide</li>
                                <li>Sleep in cozy hotels</li>
                                <li>Dificulty: easy</li>
                            </ul>
                        </div>
                    </div>
                    <div class="card__side card__side--back card__side--back-1">
                        <div class="card__cta">
                            <div class="card__price-box">
                                <p class="card__price-only">Only</p>
                                <p class="card__price-value">$297</p>
                            </div>
                            <a href="naturous#popup" class="btn btn--white">Book Now!</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-1-of-3">
                <div class="card">
                    <div class="card__side card__side--front">
                        <div class="card__picture card__picture--2">
                            &nbsp;
                        </div>
                        <h4 class="card__heading">
                            <span class="card__heading-span card__heading-span--2">Ther Forest hiker</span> 
                        </h4>
                        <div class="card__details">
                            <ul>
                                <li>7 day tour</li>
                                <li>Up to 40 people</li>
                                <li>6 tour guide</li>
                                <li>Sleep in provided tents</li>
                                <li>Dificulty: medium</li>
                            </ul>
                        </div>
                    </div>
                    <div class="card__side card__side--back card__side--back-2">
                        <div class="card__cta">
                            <div class="card__price-box">
                                <p class="card__price-only">Only</p>
                                <p class="card__price-value">$497</p>
                            </div>
                            <a href="naturous#popup" class="btn btn--white">Book Now!</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-1-of-3">
                <div class="card">
                    <div class="card__side card__side--front">
                        <div class="card__picture card__picture--3">
                            &nbsp;
                        </div>
                        <h4 class="card__heading">
                            <span class="card__heading-span card__heading-span--3">The Snow Adventurer</span> 
                        </h4>
                        <div class="card__details">
                            <ul>
                                <li>5 day tour</li>
                                <li>Up to 15 people</li>
                                <li>3 tour guide</li>
                                <li>Sleep in provided tents</li>
                                <li>Dificulty: hard</li>
                            </ul>
                        </div>
                    </div>
                    <div class="card__side card__side--back card__side--back-3">
                        <div class="card__cta">
                            <div class="card__price-box">
                                <p class="card__price-only">Only</p>
                                <p class="card__price-value">$897</p>
                            </div>
                            <a href="naturous#popup" class="btn btn--white">Book Now!</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="u-center-text u-margin-top-huge">
            <a href="#" class="btn btn--green">Discover all tours</a>
        </div>

    </section>

    <section class="section-stories" id="section-stories" *ngIf="load3" >
        <div class="bg-video" >
            <video class="bg-video__content" autoplay muted>
                <source src="assets/img/video.mp4" type="video/mp4">
                <source src="assets/img/video.webm" type="video/webm">
                    your browser is not supported!
            </video>
        </div>

        <div class="u-center-text u-margin-bottom-big" (deferLoad)="load4=true">
            <h2 class="heading-secondary">
                We make people genuinely happy
            </h2>
        </div>
        
        <div class="row">
            <div class="story">
                <figure class="story__shape">
                    <img src="assets/img/nat-8.webp" alt="Person on a tour" class="story__img">
                    <figcaption class="story__caption">Marry Smith</figcaption>
                </figure>
                <div class="story__text">
                    <h3 class="heading-tertiary u-margin-bottom-small">I had the best week ever with my family</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime, minus. Modi veniam placeat nostrum, exercitationem veritatis dolorum assumenda maxime ratione suscipit molestiae quam rem voluptatibus ex sint doloribus repudiandae corrupti?
                    </p>
                </div>
            </div>
        </div>        
        <div class="row">
            <div class="story">
                <figure class="story__shape">
                    <img src="assets/img/nat-9.webp" alt="Person on a tour" class="story__img">
                    <figcaption class="story__caption">Jack wilson</figcaption>
                </figure>
                <div class="story__text">
                    <h3 class="heading-tertiary u-margin-bottom-small">WOW! My life is completely different now</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime, minus. Modi veniam placeat nostrum, exercitationem veritatis dolorum assumenda maxime ratione suscipit molestiae quam rem voluptatibus ex sint doloribus repudiandae corrupti?
                    </p>
                </div>
            </div>
        </div>

        <div class="u-center-text u-margin-top-huge">
            <a href="#" class="btn-text">Read all stories &rarr;</a>
        </div>

    </section>

    <section class="section-book" id="section-book" *ngIf="load4">
        <div class="row">
            <div class="book">
                <div class="book__form">

                    <form action="#" class="form">
                        <div class="u-margin-bottom-medium">
                            <h2 class="heading-secondary">
                                Start Booking now
                            </h2>
                        </div>

                        <div class="form__group">
                            <input type="text" class="form__input" placeholder="Full Name" id="name" required>
                            <label for="name" class="form__label">Full Name</label>
                        </div>

                        <div class="form__group">
                            <input type="email" class="form__input" placeholder="Email Address" id="email" required>
                            <label for="email" class="form__label">Email Address</label>
                        </div>

                        <div class="form__group u-margin-bottom-medium">
                            <div class="form__radio-group">
                                <input type="radio" class="form__radio-input" id="small" name="size">
                                <label for="small" class="form__radio-label">
                                    <span class="form__radio-button"></span>
                                    Small tour group
                                </label>
                            </div>

                            <div class="form__radio-group">
                                <input type="radio" class="form__radio-input" id="large" name="size">
                                <label for="large" class="form__radio-label">
                                    <span class="form__radio-button"></span>    
                                    Large tour group
                                </label> 
                            </div>
                        </div>
                        <div class="form__group">
                            <button class="btn btn--green">Next step &rarr;</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

</main>

<footer class="footer" *ngIf="load4">
    <div class="footer__logo-box">
        <picture class="footer__logo">
            <source srcset="assets/img/logo-green-small-1x.png 1x, assets/img/logo-green-small-2x.png 2x" media="(max-width: 37.5em)">
            <img srcset="assets/img/logo-green-1x.png 1x, assets/img/logo-green-2x.png 2x" alt="Full logo" src="assets/img/logo-green-2x.png">
        </picture>
        <img src="" alt="">

    </div>
    <div class="row">
        <div class="col-1-of-2">
            <div class="footer__navigation">
                <ul class="footer__list">
                    <li class="footer__item"><a href="#" class="footer__link">Company</a></li>
                    <li class="footer__item"><a href="#" class="footer__link">Contact us</a></li>
                    <li class="footer__item"><a href="#" class="footer__link">Carrers</a></li>
                    <li class="footer__item"><a href="#" class="footer__link">Privacy policy</a></li>
                    <li class="footer__item"><a href="#" class="footer__link">Terms</a></li>
                </ul>
            </div>
        </div>
        <div class="col-1-of-2">
            <div class="footer__copyright">
                built by <a href="#" class="footer__link">Toni Kusnandar</a> for online course <a href="#" class="footer__link">Koskoding</a>. Copyright &copy; by Toni Kusnandar. you are 100% allowed to use this webpage for both personal and commercial use, but NOT to claim it as your own design. A credit to the original Author, Jonas Schmedtmann, is of course highly appreciated!
            </div>
        </div>
    </div>
</footer>

<div class="popup" id="popup">
    <div class="popup__content">
        <div class="popup__left">
            <img src="assets/img/nat-8.webp" alt="Tour photo" class="popup__img">
            <img src="assets/img/nat-9.webp" alt="Tour photo" class="popup__img">
        </div> 
        <div class="popup__right">
            <a href="naturous#section-tours" class="popup__close">&times;</a>
            <h2 class="heading-secondary u-margin-bottom-small">Start Booking Now</h2>
            <h3 class="heading-tertiary u-margin-bottom-small">Important &ndash; Please read these terms before booking</h3>
            <p class="popup__text">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquam reprehenderit facere laudantium sunt vitae omnis, id est accusamus, magni numquam natus facilis nesciunt odit asperiores. Dolores est neque vitae dolor!
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quis nobis sunt vero incidunt voluptatibus accusantium dolorum exercitationem perspiciatis? Neque, accusamus ipsum. Necessitatibus sit ducimus aperiam in, consequatur quos ex quas.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, ullam eaque necessitatibus iure neque ut earum, voluptas reiciendis adipisci commodi, fugit minus temporibus tenetur. Vitae, repellat aperiam! Cupiditate, exercitationem recusandae.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur suscipit consectetur architecto, nihil sit fugiat non quibusdam, nesciunt illo tenetur harum veniam perferendis necessitatibus sunt quisquam! Animi nostrum laborum pariatur?
            </p>
            <a href="naturous#section-book" class="btn btn--green">Book Now</a>
        </div>
    </div>
</div>

<!-- <section class="grid-test">
    <div class="row">
        <div class="col-1-of-2">
            col 1 of 2
        </div>
        <div class="col-1-of-2">
            col 1 of 2
        </div>
    </div>

    <div class="row">
        <div class="col-1-of-3">
            col 1 of 3
        </div>
        <div class="col-1-of-3">
            col 1 of 3
        </div>
        <div class="col-1-of-3">
            col 1 of 3
        </div>
    </div>

    <div class="row">
        <div class="col-1-of-3">
            col 1 of 3
        </div>
        <div class="col-2-of-3">
            col 2 of 3
        </div>
    </div>


    <div class="row">
        <div class="col-1-of-4">
            col 1 of 4
        </div>
        <div class="col-1-of-4">
            col 1 of 4
        </div>
        <div class="col-1-of-4">
            col 1 of 4
        </div>
        <div class="col-1-of-4">
            col 1 of 4
        </div>
    </div>

    <div class="row">
        <div class="col-1-of-4">
            col 1 of 4
        </div>
        <div class="col-1-of-4">
            col 1 of 4
        </div>
        <div class="col-2-of-4">
            col 2 of 4
        </div>
    </div>

    <div class="row">
        <div class="col-1-of-4">
            col 1 of 4
        </div>
        <div class="col-3-of-4">
            col 3 of 4
        </div>
    </div>


</section> -->