
 *,
 *::after,
 *::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;

    @include respond(tab-land) { //1200px
        font-size: 56.25%; // 1rem = 9 px
    }    

    @include respond(tab-port) { //900px
        font-size: 50%; // 1rem = 8 px
    }

    @include respond(big-desktop) {
        font-size: 75%; // 1rem = 12 px
    }
}

body {
   box-sizing: border-box;
   padding: 3rem;


   @include respond(tab-port) { //900px
    padding: 0;
   }

}

::selection {
    background-color: $color-primary;
    color: $color-white;
}