<div *ngIf="hero">
  <h2>{{hero.name}} Details</h2>
  <div><span>Id: </span>{{hero.id}}</div>
  <div>
    <label>Name:
      <input type="text" placeholder="name" [(ngModel)]="hero.name">    
    </label>
  </div>
  <button (click)="goBack()">go back</button>
  <button (click)="save()">Save</button>
  
</div>